.herader-container{
    display: flex;
    flex-direction: column;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    margin: 10px;
    margin-left: 30px;
}
.header-content h1{
    font: 4rem;
    font-family: "Saira",sans-serif;
    line-height: 1.9;
    color: rgb(231, 12, 12);
}
.full-name{
    font-size: 3rem;
    margin-top: 10px;
    color: green;
}
.pay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

}
.pay button{
    background: green;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 0 10 greenyellow;
    color:white;
    transition: all 0.1s ease-in-out;

}
.pay button:hover{
    background-color: tomato;
    

}
.profile-img{
    position: relative;
}
.profile-img img{
    width: 100%;
    height: 100%;
    border-bottom: 10px solid greenyellow;
    border-left: 10px solid blue;
    border-radius: 50%;
    object-fit: cover; 
}
.circle1{
    position:absolute;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px rgba(0, 0,0, 0.1);
    border-bottom: 7px solid rgba(7, 131, 76, 0.644);
    bottom:0;
    margin: 10px;
    border-radius: 16px;
}
.circle2{
    position:absolute;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 40px rgba(0, 0,0, 0.1);
    border-bottom: 7px solid rgba(255, 255, 255, 0.644);
    top: -20px;
    
    right: 10px;
    margin: 10px;
    border-radius: 16px;
}